                        <section class="panel">
                            <header class="panel-heading panel-heading-transparent">
                                <div class="panel-actions">
                                    <a href="#" id="minimize-logged-work-chart" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                                <h2 id="logged-work-chart-title" class="panel-title">Logged work hours: <b id="hours-logged">{{ entity.hours_logged }}</b></h2>
                                <p class="panel-subtitle">Work logs created for this task:</p>
                            </header>
                            <div class="panel-body">
                                <div class="chart chart-md" id="chart-work-logged" style="padding: 0px; position: relative;">
                                    <canvas class="flot-base" width="492" height="350" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 492px; height: 350px;"></canvas>
                                    <div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);">
                                        <div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;">
                                            <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 78px; top: 327px; left: 32px; text-align: center;"></div>
                                        </div>
                                        <div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;">
                                            <div class="flot-tick-label tickLabel" style="position: absolute; top: 301px; left: 14px; text-align: right;"></div>
                                        </div>
                                    </div>
                                    <canvas class="flot-overlay" width="492" height="350" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 492px; height: 350px;"></canvas>
                        </section>
