{% extends "index.html" %}

{% block title %}Piper Production{% endblock %}
{% block header %}Production <a href="/docs/#production" target="_blank"><i class="fa fa-question-circle" aria-hidden="true"></i></a>{% endblock %}

{% block breadcrumbs %}
    <li><span><i class="fa fa-cogs"></i> Studio Configuration</span></li>
    <li><span><b><i class="fa fa-table"></i> Production</b></span></li>
{% endblock %}

{% load static %}

{% block custom_page_css %}
    <link rel="stylesheet" href="{% static 'vendor/select2/select2.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/jquery-datatables-bs3/assets/css/datatables.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-fileupload/bootstrap-fileupload.min.css' %}" />
{% endblock %}

{% block page %}
                        {% for entity_model, entity_dict in data.items %}
                        {% with entities=entity_dict.entities %}
                        <div class="col-lg-12 appear-animation pull-left fadeInRight appear-animation-visible">
                            <section class="panel panel-featured panel-featured-primary" id="{{ entity_model }}">
                                <header class="panel-heading">
                                    <div class="panel-actions">
                                        <a href="#{{ entity_model }}" class="fa fa-refresh refresh-btn" data-toggle="tooltip" data-placement="top" data-original-title="Refresh table"></a>
                                        <a href="/export/xls/{% if parent %}{{ parent.type }}/{{ parent.id }}/{% endif %}{{ entity_model }}/" target="_blank" class="fa fa-download" data-toggle="tooltip" data-placement="top" data-original-title="Export to spreadsheet"></a>
                                        <a href="#batchUpdate{{ entity_model }}" class="fa fa-upload modal-with-zoom-anim" data-toggle="tooltip" data-placement="top" data-original-title="Update from Spreadsheet"></a>
                                        <a href="#" class="fa fa-caret-down" data-toggle="tooltip" data-placement="top" data-original-title="Minimize"></a>
                                        <a href="#" class="fa fa-times" data-toggle="tooltip" data-placement="top" data-original-title="Hide"></a>
                                    </div>
                                    <h2 class="panel-title">{{ entity_model }}</h2>
                                </header>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="mb-md">
                                                <a href="#createForm{{ entity_model }}" class="modal-with-zoom-anim"><button id="addButton" class="btn btn-primary">Add <i class="fa fa-plus-circle"></i></button></a>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-bordered table-striped mb-none datatable-editable" id="datatable-editable-{{ entity_model }}" data-entities="{{ entity_model }}/">
                                    {% with dummy=entity_dict.dummy %}
                                    {% include "tables-editable.html" %}
                                    {% endwith %}
                                    </table>
                                </div>
                            </section>
                        </div>

                        <!-- start: spreadsheet update form -->
                        <div id="batchUpdate{{ entity_model }}" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide">
                            <section class="panel panel-featured panel-featured-primary">
                                <form method="post" action="/update/xls/{{ entity_model }}/" enctype="multipart/form-data" class="update-from-spreadsheet">
                                    {% csrf_token %}
                                    <header class="panel-heading">
                                        <h2 class="panel-title">Update Table from Spreadsheet</h2>
                                    </header>
                                    <div class="panel-body">
                                        <div class="modal-wrapper">
                                            <div class="modal-icon">
                                                <i class="fa fa-file-excel-o"></i>
                                            </div>
                                            <div class="modal-text">
                                                <div class="col-md-12">
                                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                                        <div class="input-append">
                                                            Select file:
                                                            <div class="uneditable-input">
                                                                <i class="fa fa-file fileupload-exists"></i>
                                                                <span class="fileupload-preview"></span>
                                                            </div>
                                                            <span class="btn btn-primary btn-file">
                                                                <span class="fileupload-exists">Change</span>
                                                                <span class="fileupload-new">Browse</span>
                                                                <input type="file" required name="spreadsheet" accept=".xls,.xlsx,.csv"/>
                                                            </span>
                                                            <a href="#" class="btn fileupload-exists btn-danger" data-dismiss="fileupload">Remove</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <footer class="panel-footer">
                                        <div class="row">
                                            <div class="col-md-12 text-right">
                                                <button type="submit" class="btn btn-primary">Confirm</button>
                                                <button class="btn btn-default modal-dismiss">Cancel</button>
                                            </div>
                                        </div>
                                    </footer>
                                </form>
                            </section>
                        </div>
                        <!-- end: excel update form -->

                        <!-- start: create form for {{ entity_model }}-->
                        {% with create_form=entity_dict.create_form %}
                        {% include "forms-create.html" %}
                        <!-- end: create form -->
                        {% endwith %}
                        {% endwith %}
                        {% endfor %}

                        <!-- start: edit form -->
                        <a id="editFormTrigger" class="modal-with-zoom-anim" href="#editForm"></a>
                        <div id="editForm" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide form-bordered">
                        </div>
                        <!-- end: edit form -->

                        <!-- start: deletion dialogue -->
                        {% include "dialog-delete.html" %}
                        <!-- end: deletion dialogue -->
{% endblock %}

{% block custom_page_vendor %}
    <script src="{% static 'vendor/select2/select2.js' %}"></script>
    <script src="{% static 'vendor/jquery-datatables/media/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'vendor/jquery-datatables-bs3/assets/js/datatables.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-fileupload/bootstrap-fileupload.min.js' %}"></script>
{% endblock %}

{% block custom_page_js %}
    <script src="{% static 'javascripts/forms/main.js' %}"></script>
    <script src="{% static 'javascripts/ui-elements/modals.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        {% for entity_model in data.keys %}
        (function( $ ) {

            'use strict';

            var EditableTable = {

                options: {
                    addButton: '#addToTable',
                    table: '#datatable-editable-{{ entity_model }}',
                    dialog: {
                        wrapper: '#dialog',
                        cancelButton: '#dialogCancel',
                        confirmButton: '#dialogConfirm',
                    }
                },

                initialize: function() {
                    this
                        .setVars()
                        .build()
                        .events();
                },

                setVars: function() {
                    this.$table				= $( this.options.table );
                    this.$addButton			= $( this.options.addButton );

                    // dialog
                    this.dialog				= {};
                    this.dialog.$wrapper	= $( this.options.dialog.wrapper );
                    this.dialog.$cancel		= $( this.options.dialog.cancelButton );
                    this.dialog.$confirm	= $( this.options.dialog.confirmButton );

                    return this;
                },

                build: function() {
                    // Make sure aoColumns match table columns:
                    var ao_columns = []
                    var ths;
                    ths = $(this.options.table + ' th').length;
                    for (var i = 1; i < ths; i++) {
                        ao_columns.push(null);
                    }

                    // Reserve last column for action buttons:
                    ao_columns.push({ "bSortable": false })

                    this.datatable = this.$table.DataTable({
                        aoColumns: ao_columns
                    });

                    window.dt = this.datatable;

                    return this;
                },

                events: function() {
                    var _self = this;

                    this.$table
                        .on('click', 'a.save-row', function( e ) {
                            e.preventDefault();

                            _self.rowSave( $(this).closest( 'tr' ) );
                        })
                        .on('click', 'a.cancel-row', function( e ) {
                            e.preventDefault();

                            _self.rowCancel( $(this).closest( 'tr' ) );
                        })
                        .on('click', 'a.edit-row', function( e ) {
                            e.preventDefault();

                            _self.rowEdit( $(this).closest( 'tr' ) );
                        })
                        .on( 'click', 'a.remove-row', function( e ) {
                            e.preventDefault();

                            var $row = $(this).closest( 'tr' );

                            $.magnificPopup.open({
                                items: {
                                    src: '#dialog',
                                    type: 'inline',
                                },
                                preloader: false,
                                modal: true,
                                callbacks: {
                                    change: function() {
                                        _self.dialog.$confirm.on( 'click', function( e ) {
                                            e.preventDefault();
                                            delete_entity_row($row);
                                            _self.rowRemove( $row );
                                            $.magnificPopup.close();
                                        });
                                    },
                                    close: function() {
                                        _self.dialog.$confirm.off( 'click' );
                                    }
                                }
                            });
                        });

                    this.$addButton.on( 'click', function(e) {
                        e.preventDefault();

                        _self.rowAdd();
                    });

                    this.dialog.$cancel.on( 'click', function( e ) {
                        e.preventDefault();
                        $.magnificPopup.close();
                    });

                    return this;
                },

                rowAdd: function() {
                    this.$addButton.attr({ 'disabled': 'disabled' });

                    var actions,
                        data,
                        $row;

                    actions = [
                        '<a href="#" class="hidden on-editing save-row"><i class="fa fa-save"></i></a>',
                        '<a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>',
                        '<a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>',
                        '<a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>'
                    ].join(' ');

                    data = this.datatable.row.add([ '', '', '', actions ]);
                    $row = this.datatable.row( data[0] ).nodes().to$();

                    $row
                        .addClass( 'adding' )
                        .find( 'td:last' )
                        .addClass( 'actions' );

                    this.rowEdit( $row );

                    this.datatable.order([0,'asc']).draw(); // always show fields
                },

                rowCancel: function( $row ) {
                    var _self = this,
                        $actions,
                        i,
                        data;

                    if ( $row.hasClass('adding') ) {
                        this.rowRemove( $row );
                    } else {

                        data = this.datatable.row( $row.get(0) ).data();
                        this.datatable.row( $row.get(0) ).data( data );

                        $actions = $row.find('td.actions');
                        if ( $actions.get(0) ) {
                            this.rowSetActionsDefault( $row );
                        }

                        this.datatable.draw();
                    }
                },

                rowEdit: function( $row ) {
                    var _self = this,
                        data;

                    data = this.datatable.row( $row.get(0) ).data();

                    $row.children( 'td' ).each(function( i ) {
                        var $this = $( this );

                        if ( $this.hasClass('actions') ) {
                            _self.rowSetActionsEditing( $row );
                        } else {
                            $this.html( '<input type="text" class="form-control input-block" value="' + data[i] + '"/>' );
                        }
                    });
                },

                rowSave: function( $row ) {
                    var _self     = this,
                        $actions,
                        values    = [];

                    if ( $row.hasClass( 'adding' ) ) {
                        this.$addButton.removeAttr( 'disabled' );
                        $row.removeClass( 'adding' );
                    }

                    values = $row.find('td').map(function() {
                        var $this = $(this);

                        if ( $this.hasClass('actions') ) {
                            _self.rowSetActionsDefault( $row );
                            return _self.datatable.cell( this ).data();
                        } else {
                            return $.trim( $this.find('input').val() );
                        }
                    });

                    this.datatable.row( $row.get(0) ).data( values );

                    $actions = $row.find('td.actions');
                    if ( $actions.get(0) ) {
                        this.rowSetActionsDefault( $row );
                    }

                    this.datatable.draw();
                },

                rowRemove: function( $row ) {
                    if ( $row.hasClass('adding') ) {
                        this.$addButton.removeAttr( 'disabled' );
                    }

                    this.datatable.row( $row.get(0) ).remove().draw();
                },

                rowSetActionsEditing: function( $row ) {
                    $row.find( '.on-editing' ).removeClass( 'hidden' );
                    $row.find( '.on-default' ).addClass( 'hidden' );
                },

                rowSetActionsDefault: function( $row ) {
                    $row.find( '.on-editing' ).addClass( 'hidden' );
                    $row.find( '.on-default' ).removeClass( 'hidden' );
                }

            };

            $(function() {
                EditableTable.initialize();
            });

        }).apply( this, [ jQuery ]);
        {% endfor %}
    });
    refresh_page_on_update = true;
    </script>
{% endblock %}