{% extends "index.html" %}

{% block title %}Piper Task Manager{% endblock %}
{% block header %}Task Manager <a href="/docs/#task-manager" target="_blank"><i class="fa fa-question-circle" aria-hidden="true"></i></a>{% endblock %}

{% block breadcrumbs %}
    <li><span><i class="fa fa-wrench"></i> Tools</span></li>
    <li><span><b><i class="fa fa-tasks"></i> Task Manager</b></span></li>
{% endblock %}

{% load static %}

{% block custom_page_css %}
    <link rel="stylesheet" href="{% static 'vendor/select2/select2.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-select/bootstrap-select.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-multiselect/bootstrap-multiselect.css' %}" />
	<link rel="stylesheet" href="{% static 'vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css' %}" />
	<link rel="stylesheet" href="{% static 'vendor/fullcalendar/fullcalendar.css' %}" />
	<link rel="stylesheet" href="{% static 'vendor/fullcalendar/fullcalendar.print.css' %}" media="print" />
{% endblock %}

{% block page %}
					<div class="row">
                        <div class="col-md-12 appear-animation pull-left fadeIn appear-animation-visible">
                            <section class="panel">
                                <header class="panel-heading bg-primary">
                                    <div class="panel-heading-icon appear-animation bounceIn appear-animation-visible">
                                        <i class="fa fa-tasks"></i>
                                    </div>
                                </header>
                                <div class="panel-body">
									<div class="row">
										<div class="col-md-12">
										{% include "context-selector.html" %}
										</div>
									</div>
									<section class="panel panel-featured panel-featured-primary drop-shadow">
										<div class="panel-body">
											<div class="row">
												<div class="col-md-12">
													<div id="calendar"></div>
												</div>
											</div>
										</div>
									</section>
								</div>
							</section>
						</div>
					</div>

					<!-- start: create form for Task-->
					<a id="createFormTrigger" class="modal-with-zoom-anim" href="#createFormTask"></a>
					{% with entity_model="Task" %}
					{% with action="/tools/task-manager/create/" %}
					{% with callback='task_update_callback()' %}
					{% include "forms-create.html" %}
					{% endwith %}
					{% endwith %}
					{% endwith %}
					<!-- end: create form -->

					<!-- start: edit form -->
					<a id="editFormTrigger" class="modal-with-zoom-anim" href="#editForm"></a>
					<div id="editForm" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide form-bordered" data-callback="task_update_callback()">
					</div>
					<!-- end: edit form -->

					<!-- start: deletion dialogue -->
					{% include "dialog-delete.html" %}
					<!-- end: deletion dialogue -->
{% endblock %}

{% block custom_page_vendor %}
    <script src="{% static 'vendor/select2/select2.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-select/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-multiselect/bootstrap-multiselect.js' %}"></script>
	<script src="{% static 'vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js' %}"></script>
	<script src="{% static 'vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js' %}"></script>
	<script src="{% static 'vendor/fullcalendar/lib/moment.min.js' %}"></script>
	<script src="{% static 'vendor/fullcalendar/fullcalendar.js' %}"></script>
{% endblock %}

{% block custom_page_js %}
	<script src="{% static 'javascripts/ui-elements/modals.js' %}"></script>
	<script src="{% static 'javascripts/forms/main.js' %}"></script>
	<script src="{% static 'javascripts/ui-elements/context.selector.js' %}"></script>
	<script src="{% static 'javascripts/pages/pages.task.manager.js' %}"></script>
{% endblock %}