<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Piper Pipeline Toolkit Documentation" />
    <meta name="description" content="Documentation for the Piper Pipeline Toolkit - an out-of-the-box CGI production tracking and data management software suite.">
    <meta name="author" content="Viktor Petrov">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>Piper Documentation</title>
    {% load static %}

    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'docs/fonts/font-awesome-4.3.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'docs/css/stroke.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'docs/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'docs/css/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'docs/css/prettyPhoto.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'docs/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'docs/js/syntax-highlighter/styles/shCore.css' %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'docs/js/syntax-highlighter/styles/shThemeRDark.css' %}" media="all">

    <!-- CUSTOM -->
    <link rel="stylesheet" type="text/css" href="{% static 'docs/css/custom.css' %}">

</head>

<body>
    <div id="wrapper">
        <div class="container">
            <section id="top" class="section docs-heading">
                <div class="row">
                    <div class="col-md-12">
                        <div class="big-title text-center">
                            <h1><a href="/"><img src="{% static 'images/logo.png' %}" height="90" alt="Piper Logo" /></a> Documentation</h1>
                            <p class="centered">Piper Client/Server v1.0.1 User Guide</p>
                        </div>
                    </div>
                </div>
                <hr>
            </section>

            <div class="row">
                <div class="col-md-3">
                    <nav class="docs-sidebar" data-spy="affix" data-offset-top="300" data-offset-bottom="200" role="navigation">
                        <ul class="nav">
                            <li><a href="#line1">Getting started</a></li>
                            <li><a href="#piper-server">Piper Server</a>
                                <ul class="nav">
                                    <li><a href="#dashboard">Dashboard</a>
                                        <ul class="nav">
                                            <li><a href="#search-bar">Search bar</a></li>
                                            <li><a href="#task-menu">Task menu</a></li>
                                            <li><a href="#notes-menu">Notes menu</a></li>
                                            <li><a href="#user-profile">User profile</a></li>
                                            <li><a href="#page-errors">Page not found or access denied</a></li>
                                            <li><a href="#entity-views">Entity views</a>
                                                <ul class="nav">
                                                    <li><a href="#table">Table</a></li>
                                                    <li><a href="#timeline">Timeline</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#spreadsheets">Spreadsheets</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#notes">Notes</a>
                                        <ul class="nav">
                                            <li><a href="#correspondence">Correspondence</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#media-gallery">Media Gallery</a></li>
                                    <li><a href="#tools">Tools</a>
                                        <ul class="nav">
                                            <li><a href="#browser">Browser</a></li>
                                            <li><a href="#task-manager">Task Manager</a></li>
                                            <li><a href="#resource-ingestor">Resource Ingestor</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#studio-configuration">Studio Configuration</a>
                                        <ul class="nav">
                                            <li><a href="#globals">Globals</a></li>
                                            <li><a href="#systems">Systems</a></li>
                                            <li><a href="#software">Software</a></li>
                                            <li><a href="#modules">Modules</a></li>
                                            <li><a href="#profiles">Profiles</a></li>
                                            <li><a href="#departments">Departments</a></li>
                                            <li><a href="#users">Users</a></li>
                                            <li><a href="#departments">Production</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#submit-ticket">Submitting tickets</a></li>
                                </ul>
                            </li>
                            <li><a href="#piper-client">Piper Client</a>
                                <ul class="nav">
                                    <li><a href="#launcher">Piper Launcher</a></li>
                                    <li><a href="#client-browser">Browser</a></li>
                                    <li><a href="#scene-builder">Scene Builder</a>
                                        <ul class="nav">
                                            <li><a href="#create-resource">Create resource</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#publisher">Publisher</a>
                                        <ul class="nav">
                                            <li><a href="#sanity-checks">Sanity checks</a></li>
                                            <li><a href="#post-processes">Post-processes</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#snapshot">Snapshot</a></li>
                                    <li><a href="#log-work">Log Work</a></li>
                                    <li><a href="#cascading-config">Cascading Config</a></li>
                                    <li><a href="#render-farmer">Render Farmer</a>
                                        <ul class="nav">
                                            <li><a href="#render-farm-apis">Render Farm APIs</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#links">Links</a></li>
                                    <li><a href="#api">API</a></li>
                                    <li><a href="#dcc-integration">DCC integration</a></li>
                                </ul>
                            </li>
                            <li><a href="#change-log">Change log</a></li>
                            <li><a href="#copyright">Copyright & license</a></li>
                        </ul>
                    </nav >
                </div>
                <div class="col-md-9">
                    <section class="welcome">

                        <div class="row">
                            <div class="col-md-12 left-align">
                                <h2 class="dark-text">Introduction<hr></h2>
                                <div class="row">

                                    <div class="col-md-12 full">
                                        <div class="intro1">
                                            <ul>
                                                <li><strong>Current version: </strong>1.0.1</li>
                                                <li><strong>Author: </strong> <a href="mailto:viktor@piperpipeline.com">Viktor Petrov</a></li>
                                                <li><strong>Website: </strong> <a href="https://piperpipeline.com/" target="_blank">www.piperpipeline.com</a></li>
                                                <li><strong>Support e-mail: </strong> <a href="mailto:support@piperpipeline.com">support@piperpipeline.com</a></li>
                                                <li><strong>License: </strong> <a href="{% static 'docs/EULA.md' %}" target="_blank">EULA</a></li>
                                            </ul>
                                        </div>

                                        <hr>
                                        <div>
                                            <p>
                                                Thank you for purchasing a license to use the current version of the <strong>Piper Pipeline Toolkit</strong> and being a loyal <strong>Piper I/O</strong> customer. Your support and feedback on this product are greatly appreciated!
                                            </p>

                                        </div>
                                    </div>

                                </div>
                                <!-- end row -->
                            </div>
                        </div>
                    </section>

                    <section id="line1" class="section">

                        <div class="row">
                            <div class="col-md-12 left-align">
                                <h2 class="dark-text">Getting started <a href="#top"><i class="fa fa-chevron-circle-up"></i></a><hr></h2>
                                <!--a href="/media/thumbnails/default_thumbnail.png" data-rel="prettyPhoto"><img src="/media/thumbnails/default_thumbnail.png" alt="" class="img-responsive img-thumbnail"></a-->
                                <p>Follow the instructions in the "README.md" files in both the Piper Server and Piper Client source code packages for details on how to install and configure the two components of the Piper Pipeline Toolkit.</p>
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->

                    </section>
                    <!-- end section -->

                    <section id="piper-server" class="section">

                        <div class="row">
                            <div class="col-md-12 left-align">
                                <h2 class="dark-text">Piper Server <a href="#top"><i class="fa fa-chevron-circle-up"></i></a><hr></h2>
                                <p>Piper Server is the production management component of the Piper Pipeline Toolkit. It allows the user to create, update and delete production data objects, referred to as “entities”. Each entity represents data recorded in the Piper database and can have various attributes, relationships to other entities and other data connected to it. The Piper Server application is web-based and can be interacted with through any modern web browser or programmatically via <a href="#api">a client API</a>.</p>
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->

                        <p></p>
                        <div class="intro2 clearfix">
                            <p><i class="fa fa-info-circle"></i>If ever in doubt about what a certain element on a Piper Server page is for, try hovering over the element to see a tooltip of what its function is.
                            </p>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="dashboard"><a href="/" target="_blank">Dashboard</a> <a href="#piper-server"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>The Piper Server dashboard interface allows you to access and modify a variety of production information.</p>
                                <p>The top most bar allows you to <a href="#search-bar">search all Piper Server data</a> and has shortcuts to your <a href="#task-menu">assigned tasks</a>, <a href="#notes-menu">your notes</a> and your <a href="#user-profile">user profile page</a> through the user drop-down menu, which also allows you to lock your Piper Server session or log out. This bar is available on every Piper Server page.</p>
                                <p>The side bar menu on the left hand side allows easy access to other Piper Server pages. It is collapsible and available on all Piper Server pages. The bottom part of the menu has links to all the projects you're a part of as well.</p>
                                <p>The main area displays all the projects you are a part of and it allows you to search them and create new projects (superusers only). You can also export all your projects to a spreadsheet and/or update projects from a spreadsheet.</p>
                                <p>The bar atop the main area displays the page title, a link to the page documentation and a breadcrumbs section with links to previous and next available pages. The adjacent arrow icon can be used to navigate the breadcrumb links.</p>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="search-bar">Search bar <a href="#piper-server"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>Using the search bar results in a list of all entities that contain your search query in their name or description. Each element of the search result list is a link to the respective entity’s page.</p>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="task-menu">Task menu <a href="#piper-server"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>Your assigned tasks drop down menu displays a list of all the tasks you are currently working on as well as their respective progress percentages.</p>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="notes-menu">Notes menu <a href="#piper-server"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>The notes drop down menu displays a list of all unread notes addressed to you as well as unread notes on entities assigned to you or created by you.</p>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="user-profile">User profile <a href="#piper-server"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>Your user profile page displays information about the entity that represents you as a user, including your tasks and projects you are working on. It also includes a timeline of your recent activity and allows you to edit your user data, like e-mail address and password. Other users’ profile pages look identical, with the exception of the update user data tab.</p>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="page-errors">Page not found or access denied <a href="#piper-server"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>If you are unable to get information on a certain entity or view a specific page, it is most likely because you are not included in the related project or do not have the required permissions. Contact your Piper Server administrator for more details.</p>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="entity-views">Entity views <a href="#piper-server"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>There are two main web pages or “views” that represent entities in Piper Server.</p>
                                <ul>
                                    <li>The table view represents all entities of a given type and parent, for example the asset entities of project “vfx_demo”. The table view is searchable, sortable and editable via the buttons in the "Actions" column. Table views can also be exported, as well as updated, to and from spreadsheets using the header buttons. You can directly edit entity attributes inside a spreadsheet and add a "+" or "-" in the ID column to add or remove entities respectively. </li>
                                    <p></p>
                                    <li>The timeline view represents a specific entity, for example this task for this prop asset and it showcases a timeline of user activity (notes and attachments) relating to the entity. Based on its type, each entity timeline page may have slightly different header buttons that perform different functions and display various data relating to the entity.</li>
                                </ul>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="notes"><a href="/notes/" target="_blank">Notes</a> <a href="#piper-server"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>The notes page displays all the notes that are addressed to you, the notes you have created/sent and the notes you have deleted. </p>
                                <p>The notes inbox, sent and trash sections are accessible via the side bar "Mailboxes". This menu also allows you to filter your notes by their tags.</p>
                                <p>The main section of this page displays a list of notes. These are searchable using the "Search inbox..." search bar. The circular icons allow for further filtering of read and unread notes, refreshing and deleting notes in the current mailbox.</p>
                                <p>When you click on a note, it will open a <a href="#correspondence">correspondence page</a> with the entire note thread.</p>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="correspondence">Correspondence <a href="#notes"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>A correspondence page shows the timeline of note threads regarding a specific entity. From this page, you can review the entire thread, reply and/or access the related entity and the correspondents involved.</p>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="media-gallery"><a href="/media-gallery/" target="_blank">Media Gallery</a> <a href="#piper-server"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>The Media Gallery page is a media hub for all image and video files published as part of resource versions.</p>
                                <p>The side menu bar allows you to filter the media based on project, user, date and tags.</p>
                                <p>The top bar allows you to select all media in the main section, create playlists from your selections and further filter the display of versions, playlists, images, videos and dailies media.</p>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->
                        <p></p>
                        <div class="intro2 clearfix">
                            <p><i class="fa fa-list"></i>Note that to create a playlist from your selection, you need to have selected a project from the side bar first.
                            </p>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="tools">Tools <a href="#piper-server"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>The Piper Pipeline Toolkit comes with specialised apps or "tools" that facilitate certain aspects of your interaction with your production data.</p>
                                <p>Some of these tools are shared between the Piper Server and Piper Client component of the toolkit and perform the same way in both instances.</p>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->

                        <p></p>
                        <div class="intro2 clearfix">
                            <p><i class="fa fa-warning"></i>Note that some tools may require superuser permissions to access and use.
                            </p>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="browser"><a href="/tools/browser/" target="_blank">Browser</a> <a href="#tools"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>The Piper Browser allows you to conveniently browse and filter production data similarly to a using a file browser.</p>
                                <p>The main "Data" section allows you to select and display project entities in a structured hierarchy.</p>
                                <p>The "Filters" section provides several filters - asset type, category, status and user - that toggle the display of the entities in the "Data" section.</p>
                                <p>The "Details" section displays the selected entity's attributes and their respective values, as well as links to the entity page and the pages of its entity relationships.</p>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="task-manager"><a href="/tools/task-manager/" target="_blank">Task Manager</a> <a href="#tools"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>The Piper Task Manager offers a calendar view of all the tasks of a selected context asset or shot. The calendar view can be switched to day, week and month display modes.</p>
                                <p>Each task is represented as a bar on the calendar stretching from its start date to its end date. Upon selection, the edit form of the respective task opens up to allow for updates. Relevant changes such as name, step, artists, start date and end date are reflected in the calendar view upon task update.</p>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="resource-ingestor"><a href="/tools/resource-ingestor/" target="_blank">Resource Ingestor</a> <a href="#tools"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>The Piper Resource Ingestor is a data ingestion wizard app that allows you to publish resources, versions and files either manually or via spreadsheets.</p>
                                <p>The manual ingestion workflow has you select an asset or shot context, select a task, select or create a resource, browse files to publish, add a description and notify any users upon successful file ingestion and publishing to the database.</p>
                                <p>Batch ingestion can also be achieved by downloading the batch ingestion spreadsheet template from the upper right hand side of the app, filling in the required information in the document and ingesting by uploading the spreadsheet to the tool.</p>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="studio-configuration">Studio Configuration <a href="#piper-server"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>Studio configurations for <a href="#globals">global constants</a>, <a href="#systems">operating systems</a>, <a href="#software">software</a>, <a href="#modules">Python modules and plugins</a>, <a href="#profiles">software profiles</a>, <a href="#departments">departments</a>, <a href="#users">users</a> and <a href="#production">custom production entities</a>.</p>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->
                        <p></p>
                        <div class="intro2 clearfix">
                            <p><i class="fa fa-warning"></i>Studio configuration requires superuser permissions.
                            </p>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="globals"><a href="/studio/config/globals/" target="_blank">Globals</a> <a href="#studio-configuration"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>The studio globals are constant values that are required for various Piper Server operations such as e-mailing. These need to be filled out with the studio's details and preferences to ensure Piper Server runs as expected.</p>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="systems"><a href="/studio/config/systems/" target="_blank">Systems</a> <a href="#studio-configuration"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>Configurations for the Piper Pipeline toolkit's supported operating systems: Windows, Linux and MacOS.</p>
                                <p>Each system configuration requires the following variables to be configured:</p>
                                <ul>
                                    <li><b>Publish root</b>: the directory where published files are stored on the system;</li>
                                    <li><b>Work root</b>: the directory where work files are stored on the system;</li>
                                    <li><b>Software root</b>: the directory where to look for software on the system;</li>
                                    <li><b>Modules root</b>: the directory where to look for Python modules and plugins (you can use the keyword "{piper}" as a shortcut to the "piper_client" package directory);</li>
                                </ul>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="software"><a href="/Software/" target="_blank">Software</a> <a href="#studio-configuration"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>A table view of all configured third party software. Use the "Is farm" to distinguish between digital content creation software (e.g. Maya, Nuke, etc.) and render farm management software (e.g. Deadline, Qube, etc.).</p>
                                <p>You can configure any software required for production and integrate it with the Piper Pipeline Toolkit by <a href="#modules">creating a Piper module for it</a> if such a module doesn't come bundled with the toolkit by default.</p>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->
                        <p></p>
                        <div class="intro2 clearfix">
                            <p><i class="fa fa-warning"></i>Any DCC not supported by the Piper Pipeline Toolkit by default can be custom integrated, as long as it supports Python and Qt.
                            </p>
                        </div>
                        <p></p>
                        <div class="intro2 clearfix">
                            <p><i class="fa fa-puzzle-piece"></i>A digital content creation software entity needs to have its "Module environment variable" value set in order for the software to load <a href="#modules">configured custom Python modules and plugins</a>. You can find out the relevant modules environment variable by consulting the respective software's documentation.
                            </p>
                        </div>
                        <p></p>
                        <div class="intro2 clearfix">
                            <p><i class="fa fa-terminal"></i>A digital content creation software entity needs to have its "Command line renderer" value configured in order for the software to be run on Piper configured render farm software.
                            </p>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="modules"><a href="/Module/" target="_blank">Modules</a> <a href="#studio-configuration"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>A table view of all configured custom Python modules and plugins. A module is any external code package that can be loaded into a software package, e.g. custom Python scripts or third-party plugins. For a module to be accessible by a software package, the respective module entity should have a specified "Root directory", where the module's code package is located, while its target software entity should have a configured "Module environment variable", which is used to find any external modules for this software.</p>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->
                        <p></p>
                        <div class="intro2 clearfix">
                            <p><i class="fa fa-folder-open"></i>Full module paths are formed by combining the system entity's "Modules root" with the module entity's "Root directory" attribute values, e.g. "C:/piper_client/" + "studio/modules/maya/piper" on Windows.
                            </p>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="profiles"><a href="/Profile/" target="_blank">Profiles</a> <a href="#studio-configuration"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>A table view of all configured software profiles. A profile is a configuration of software and modules that is used to set up software environments in the Piper Launcher. This allows you to configure software environments that can be shared and utilised by artists when launching applications so that their tools remain consistent.</p>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="departments"><a href="/Department/" target="_blank">Departments</a> <a href="#studio-configuration"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>A table view of all configured departments. Department entities represent groups of users that work on the same aspects of production.</p>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="users"><a href="/studio/config/users/" target="_blank">Users</a> <a href="#studio-configuration"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>A table view of all configured users. Users entities represent your studio's artists and staff. Users can be human and non-human (authentication entities for automation tasks, etc.). Users are further divided into regular users and superusers. The latter have full-access permissions to view and interact with all Piper Server data, while regular users may have restricted access, e.g. they cannot see projects they are not included in.</p>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="production"><a href="/studio/config/production/" target="_blank">Production</a> <a href="#studio-configuration"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>Multiple table views of entities that affect the production workflow, such as status, category, step, asset type and edit type. Along with these pre-configured production entities, you can your own custom entries to reflect your studio's production workflows, for example you might have tasks of a different step or category or you may assign different statuses to versions.</p>
                                <p>Customising these production entities allows for more flexibility within your pipeline by tailoring it to production needs and addressing special-case scenarios.</p>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="submit-ticket">Submitting tickets <a href="#piper-server"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>You can submit e-mail tickets whenever you experience an error with the Piper Pipeline Toolkit. Your e-mail would be sent to the ticketing e-mail address listed in the <a href="#globals">global studio configuration</a> for troubleshooting. Make sure your e-mail ticket includes a detailed description of what steps you took to encounter the given error so that your issue could be quickly resolved by your studio's support staff.</p>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->

                    </section>
                    <!-- end section -->

                    <section id="piper-client" class="section">

                        <div class="row">
                            <div class="col-md-12 left-align">
                                <h2 class="dark-text">Piper Client <a href="#top"><i class="fa fa-chevron-circle-up"></i></a><hr></h2>
                                <p>Piper Client is desktop application component of the Piper Pipeline Toolkit. It's comprised of a software launcher, which is used to configure software environments based on <a href="#profiles">profiles</a> and start applications, and tools for interacting with the Piper Server that run from inside supported applications.</p>
                                <p>By default, Piper Client can be integrated with the Autodesk Maya, The Foundry Nuke, and SideFX Houdini, while additional DCC integrations are easily configurable with minimal Python scripting knowledge.</p>
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="launcher">Piper Launcher <a href="#piper-client"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>Piper Launcher is a standalone application used to establish a connection to the Piper Server, load a software environment via selecting a <a href="profiles">profile</a> and launch apps bundled with their respective modules and plugins as configured in the selected profile.</p>
                                <p>Upon starting the Piper Launcher, you will be asked to input your studio's Piper Server URL as well as your user credentials. Once successfully connected and authenticated, you will be presented with all configured software profiles to choose from. Selecting a profile will allow you to access and launch the software packages it contains.</p>
                                <p>Should the Piper module for your selected application be included in your chosen profile, you should be able to see a Piper menu inside the application by default (excluding custom DCC configurations). The Piper menu allows you to access all Piper Client tools and utilities.</p>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="client-browser">Browser <a href="#piper-client"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>The client version of the Piper Browser app looks and behaves identically to <a href="#browser">its Piper Server counterpart</a>.</p>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="scene-builder">Scene Builder <a href="#piper-client"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>The Piper Scene Builder is an asset management and version tracking tool that runs inside supported DCCs. It contains three main sections for task context selection, workspace management and scene assembly.</p>
                                <p>The "My tasks" section allows you to review your currently active tasks for the DCC you're working in.</p>
                                <p>Selecting a task loads its resources, selecting a resource loads its versions, and selecting a version loads its snapshots in the "Workspace" tab. Double-clicking on a version loads its work file, while double-clicking on a resource loads its latest version's work file.</p>
                                <p>The "Scene assembly" tab allows you to select, find/browse and add available version files of both asset and shot resources in the current task context. Adding a version file loads it into the scene and tracks it in the scene assembly table view, which displays various information about each tracked file and allows you to swap different file versions and/or remove scene files as required.</p>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="create-resource">Create resource <a href="#scene-builder"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>A dialog for creating a new resource, child of the currently selected task. This creates the resource and starts the <a href="#publisher">publishing process</a> for its initial version and work file from the current scene or selection. There is a notification field to notify users of the new resource creation via e-mail given their user names.</p>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="publisher">Publisher <a href="#piper-client"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>The Piper Publisher lets you publish a new version of the resource you're currently working on. It also allows you to browse additional files to publish along with your current work file and notify user via e-mail by inputting their user names in the "Notify" field.</p>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="sanity-checks">Sanity checks <a href="#publisher"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>Before the publishing process starts, a number of processes called "sanity checks" can be executed to prepare your scene file for publishing. Sanity checks have two methods - "Run", which conducts the quality assurance check, and "Fix", which allows you to fix any encountered errors (if applicable), which prevent the publishing process from continuing.<p>
                                <p>Piper Client comes with default sanity checks, but you can also script your own custom ones by going to piper_client/apps/publisher/sanity_checks/ and creating your new sanity check Python script. Then, copy the contents of an existing sanity check into your new file and replace all the attribute values and function contents with whatever you want your sanity check to evaluate.</p>
                                <p>Sanity checks can be enabled and disabled (unless explicitly required) and are sorted by their "priority" attribute.</p>
                                <b>Example custom sanity check script:</b>
                                <pre class="brush: python;">
    # piper_client/apps/publisher/sanity_checks/custom.py
    from . import SanityCheck as SanityCheckBase


    class SanityCheck(SanityCheckBase):

        name = 'Custom'  # a name for the sanity check;
        description = 'Custom sanity check.'  # a description for the sanity check;
        required = False  # whether the sanity check is required/can be skipped by the user;
        checked = False  # whether the sanity check is enabled by default;
        priority = 1  # the priority of this check;

        def __init__(self, **kwargs):
            super(SanityCheck, self).__init__(**kwargs)

        @property
        def applicable(self):
            """
            A property to determine if the process is applicable for the given step;
            :return: True/False;
            """
            # Code to determine if this sanity check is applicable for the current resource:
            [...]

        def run(self):
            """
            The main function executed by the sanity check.
            :return: True/False;
            """
            # Evaluation code:
            [...]

        def fix(self):
            """
            A method that attempts a fix should the sanity check fail (return False) on run.
            :return: True/False;
            """
            # Fix code:
            [...]

                                </pre>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="sanity-checks">Post-processes <a href="#publisher"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>After the publishing process ends, a number of processes called "post-processes" can be executed to perform additional operations and/or callbacks.<p>
                                <p>Piper Client comes with default post-processes, but you can also script your own custom ones by going to piper_client/apps/publisher/post_processes/ and creating your new post-process Python script. Then, copy the contents of an existing sanity check into your new file and replace all the attribute values and function contents with whatever you want post-process to do.</p>
                                <p>Post-processes can be enabled and disabled (unless explicitly required) and are sorted by their "priority" attribute.</p>
                                <b>Example custom post-process module:</b>
                                <pre class="brush: python;">
    # piper_client/apps/publisher/post_processes/custom.py
    from . import PostProcess as PostProcessBase


    class PostProcess(PostProcessBase):

        name = 'Custom'  # a name for the process;
        description = 'Custom post-process'  # a description for the process;
        required = False  # whether the process is required/can be skipped by the user;
        checked = False  # whether the process is enabled by default;
        priority = 1  # the priority of this process;

        def __init__(self, **kwargs):
            super(PostProcess, self).__init__(**kwargs)

        @property
        def applicable(self):
            """
            A property to determine if the process is applicable for the given step;
            :return: True/False;
            """
            # Code to determine if this post-process is applicable for the newly published version:
            [...]

        def run(self):
            """
            The main function executed by the process.
            :return: True/False;
            """
            # Evaluation code:
            [...]

                                </pre>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="snapshot">Snapshot <a href="#piper-client"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>A snapshot saves the current state of your work file in a separate file so that your work file is not overwritten.</p>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="log-work">Log Work <a href="#piper-client"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>The Log Work dialog allows you to submit work logs for the currently selected task, outlining how much time you have spent working on it and describing the nature of your work. Work logs are charted on the task's Piper Server page.</p>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="cascading-config">Cascading Config <a href="#piper-client"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>A cascading configuration dialog showcases the given entity's configured attribute value pairs as well as its inherited configuration from parent entities. Inherited configuration gets overwritten at the closest level, meaning if a shot entity's sequence has a configured attribute, which its project also has, the sequence configuration would overwrite the project configuration, while the shot would overwrite the sequence, etc.</p>
                                <p>Inside a DCC, a standalone Cascading Config dialog can be opened for the current resource or task being worked on. The dialog allows you to add, remove or modify the entity's configured attributes and is identical in function to its counterpart on the Piper Server.</p>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="render-farmer">Render Farmer <a href="#piper-client"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>The Piper Render Farmer serves as an interface for setting up and submitting render farm jobs. Farm jobs can be submitted either to a selected configured farm software or can be run on your local machine as a separate command line process. The selected render node (if applicable) is the node used to output rendered images - if left unspecified, one gets automatically created, though specifying a render node allows you to adjust its render settings to your requirements.</p>
                                <p>There are several fields for setting up the render job itself. Notably, you must select a render image format and frame range. The number of instances refers to how many render farm nodes should split your job, e.g. for a render job of 150 frames, 10 instances means 10 nodes would render 15 frames each. You can also specify additional render flags and Python callback code, which gets executed upon completion of the farm job.</p>
                                <p>Setting up the scene for rendering before submitting the job using the "Set up render" button allows you to preview your work file and render node (if applicable) in the state in which it would be rendered on the render farm, allowing you make any adjustments if necessary.</p>
                                <p>Rendered files are initially written to your work directory for the given work file. By default, rendered files are published, meaning they get copied from their work path to their published path - you can toggle this option via the "Publish rendered file(s)" checkbox.</p>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="render-farm-apis">Render farm APIs <a href="#render-farmer"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>By default, Piper Client comes with Qube and Deadline APIs for submitting jobs to a render farm. To integrate any other custom render farm software, you would need to create a Piper Client Python API module for it. First, navigate to piper_client/core/renderfarm/ and create a Python file named after your custom render farm software (e.g. "cgru_api.py"). Next, copy the contents of any of the default render farm APIs into your new Python module and replace the function contents, while maintaining the same inputs and outputs as documented.</p>
                                <b>Example custom render farm API:</b>
                                <pre class="brush: python;">
    # piper_client/core/renderfarm/custom_render_farm_api.py
    import os
    from . import FarmJob as BaseFarmJob
    from piper_client.core.utils import run_in_terminal
    from piper_client.core.logger import get_logger

    LOGGER = get_logger('Piper Custom Render Farm API')


    class FarmJob(BaseFarmJob):
        """
        Custom render farm Piper render farm job class.
        """

        def __init__(self, version, file, farm, dcc_api, start_frame, end_frame, cpus, scene, flags='', by_frame=1,
                     priority=1, publish=True, retry_attempts=1, name='', description='', callback='', job_type=''):
            super(FarmJob, self).__init__(version=version, file=file, farm=farm)

            # Code to set up render farm job for your custom render farm:
            self.command = [...]

        def submit(self):
            """
            Submit the job to the render farm.
            :return: True if successful, False otherwise;
            """
            LOGGER.info('Submitting command: %s' % self.command)
            run_in_terminal(command=self.command)
            LOGGER.info('Farm job submitted!')
            return True

                                </pre>
                                <p>Check the default render farm API modules in piper_client/core/renderfarm/ for further reference.</p>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="links">Links <a href="#piper-client"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>The Piper menu contains quick access web links to the entity currently being worked on (version, resource or task), as well as the Piper Server home page and this documentation page.</p>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="api">API <a href="#piper-client"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>The Piper Pipeline Toolkit offers a client-side Python API for interacting with the Piper Server. The API is based on RESTful calls to the Piper Server as well as mapping the retrieved serialized server data onto entity objects, which closely match the behaviour of the Piper Server entity models. This allows you to create, modify and delete entities programmatically using the Piper Client toolset.</p>
                                <b>Sample use:</b>
                                <pre class="brush: python;">
    from piper_client.core.api import PiperClientApi

    # Initialize the Piper Client API:
    piper_api = PiperClientApi()

    # Get all entities of a certain type:
    projects = piper_api.get(entity_type='Project')

    # Getting one (the first) entity of a certain type:
    status = piper_api.get_one(entity_type='Status')

    # Get a specific entity given its ID:
    sequence_abc = piper_api.get(entity_type='Sequence', entity_id=1)

    # Though entities are represented as dictionaries,
    # they are in fact class instances with their own methods and attributes:
    type(sequence_abc)
    dir(sequence_abc)

    # Check all the available fields (attributes) the entity has:
    sequence_abc.fields

    # Get a field value:
    sequence_abc['name']

    # Or alternatively use a dot operator:
    sequence_abc.name

    # Field values can be other entities:
    sequence_abc.project

    # Each entity type may have different fields:
    sequence_abc.project.fields

    # Set a field value - note that you should not use a dot operator when setting values:
    sequence_abc['description'] = 'Example Piper updated sequence.'
    # Set field values to other entity:
    sequence_abc['status'] = status
    # Update the entity so that the field value changes are reflected in the database:
    sequence_abc.update()

    # Each time you get a field value, the Piper Client API makes a RESTful call to the Piper Server:
    sequence_abc.status

    # If you know which field values you need, you can get them in your initial API get call.
    # This way, the field values you want will be readily available:
    sequence_abc = piper_api.get(entity_type='Sequence', entity_id=1, fields=['status', 'description', 'created_by'])

    # Get a specific attribute (field) value:
    sequence_abc_shots = piper_api.get(entity_type='Sequence', entity_id=1, attribute='shots',
                                       fields=['status', 'description', 'created_by'])

    # Get a filtered list of entities of a given type:
    sequence_abc_shots = piper_api.get(entity_type='Shot', filters={'sequence': sequence_abc})

    # Get an entity's corresponding config entity (if it exists):
    piper_api.get_config(entity=sequence_abc)

    # Get the inherited cascading configuration dictionary for a given entity:
    piper_api.get_inherited_config(entity=sequence_abc)

    # Configure entity:
    piper_api.configre(entity=sequence_abc, config_rules={'start_frame': 950, 'fps': 25})

    # Create a new entity:
    shot_0220 = piper_api.create(entity_type='Shot', sequence=sequence_abc, name='0220',
                                 description='New shot created via the Piper Client API.')

    # Delete an entity:
    piper_api.delete(entity=shot_0220)

    # Get the current artist entity:
    me = piper_api.get_current_artist()
    # Or:
    me = piper_api.artist

    # Get the current artists' active tasks that can be worked on in a given DCC:
    dcc = piper_api.get_one(entity_type='Software')
    my_tasks = piper_api.get_active_tasks(dcc=dcc)

                                </pre>
                            <!-- endl -->
                                <p>For further details on Piper Client API methods, read the documented source code: <i>piper_client/core/apy.py</i></p>
                                <p>For further details on Piper Client entity models, read the documented source code: <i>piper_client/core/models.py</i></p>
                            </div>
                        </div>
                        <!-- end row -->

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 id="dcc-integration">DCC integration <a href="#piper-client"><i class="fa fa-chevron-circle-up"></i></a></h4>
                                <p>By default, Piper Client is currently integrated with Autodesk Maya, The Foundry Nuke and SideFX Houdini, with more default integrations to come in future toolkit updates. It's also possible to integrate any software you wish, as long as it supports Python scripting and Qt-based interfaces. To make a custom software integration with Piper Client, you would need to write an API module for your custom DCC and also create a Piper module for it.</p>
                                <p>Creating a DCC API module for your custom software requires minimal Python scripting skills. First, navigate to piper_client/core/dcc/ and create a new Python file called "[your custom software]_api.py" (e.g. "blender_api.py"). Then, copy the contents of any of the existing DCC API modules, for example "nuke_api.py", into your new Python file and replace the value of its constants and the content of each function with the corresponding DCC-specific Python code that achieves the same result in your custom software. Keep the inputs and outputs consistent with the description documentation of each function.</p>
                                <p>You also need to create a <a href="#modules">module entity</a> that points to your newly created Piper module.</p>
                                <b>Example Piper Client Custom Software API module:</b>
                                <pre class="brush: python;">
    # piper_client/core/dcc/custom_software_api.py
    import os
    import custom_software_python_api
    from piper_client.core.dcc import PiperDccApi as BaseApi
    from piper_client.core.logger import get_logger

    LOGGER = get_logger('Piper Client Custom Software API')


    class PiperDccApi(BaseApi):
        """
        Custom software Piper API.
        """
        name = 'custom software'  # the DCC API name;
        src = custom_software_python_api  # the native DCC API;
        render_flags = '-- "{RENDER_NODE}" -- {START_FRAME}-{END_FRAME}x{BY_FRAME} -- {SCENE}'  # command line render flags;
        render_node = None  # render node to be used for rendering;

        def __init__(self, **kwargs):
            super(PiperDccApi, self).__init__(**kwargs)

        def open_file(self, path_to_file):
            """
            Open a specific file.
            :param path_to_file: the full path to the file to open;
            :return: the full name of the opened file as a string if it exists, otherwise - None;
            """
            if os.path.isfile(path_to_file):
                LOGGER.debug('Opening file %s' % path_to_file)
                self.src.custom_software_open_file(path_to_file)
                return path_to_file
            else:
                LOGGER.debug('Could not find file %s' % path_to_file)
                return None

    [...]


                                </pre>
                                <p>To create a Piper module for your custom software, navigate to piper_client/studio/modules/ and create a folder named after your custom software (e.g. "blender"). Inside the folder create a "piper" directory and add your Piper module Python scripts inside of it. Look at existing Piper modules (e.g. piper_client/studio/modules/nuke/piper/) for reference. You must also create a <a href="#modules">module entity</a> on Piper Server to represent your new module.</p>
                            <!-- endl -->
                            </div>
                        </div>
                        <!-- end row -->
                        <p></p>
                        <div class="intro2 clearfix">
                            <i class="fa fa-info-circle"></i>
                                A Piper module for integrating a software package with Piper Client needs to contain a Python script that appends the "PIPER_INIT" and "PIPER_SITE_PACKAGES" environment variable values to the system path, which will let you access the Piper Client Python package. It's advisable to also include a script for creating a custom Piper menu within the software.
                            </p>
                        </div>
                        <p></p>
                        <div class="intro2 clearfix">
                            <p><i class="fa fa-list-alt"></i>To ensure your custom software loads its Piper module, make sure both your custom DCC and the Piper module are included in the profile you are using to launch your custom software from the Piper Launcher.
                            </p>
                        </div>

                    </section>
                    <!-- end section -->

                    <section id="change-log" class="section">

                        <div class="row">
                            <div class="col-md-12 left-align">
                                <h2 class="dark-text">Change log<a href="#top"><i class="fa fa-chevron-circle-up"></i></a><hr></h2>
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->

                        <div class="row">
                            <div class="col-md-12">
                                <p>The change-log showcases records of the changes from previous version releases:</p>
                                <hr>
                                <pre class="brush: html">

                                        -----------------------------------------------------------------------------------------
                                        Version 1.0.1 - May 7th, 2019
                                        -----------------------------------------------------------------------------------------

                                        - Initial version release;

                                      </pre>
                            </div>
                        </div>
                        <!-- end row -->

                    </section>
                    <!-- end section -->

                    <section id="copyright" class="section">

                        <div class="row">
                            <div class="col-md-12 left-align">
                                <h2 class="dark-text">Copyright & license <a href="#top"><i class="fa fa-chevron-circle-up"></i></a><hr></h2>
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->

                        <div class="row">
                            <div class="col-md-12">
                                <p>&copy; <strong>Piper I/O</strong> EOOD. All rights reserved. Licensed for use under an <a href="{% static 'docs/EULA.md' %}" target="_blank">EULA</a></p>
                            </div>
                        </div>
                        <!-- end row -->

                    </section>
                    <!-- end section -->
                </div>
                <!-- // end .col -->

            </div>
            <!-- // end .row -->

        </div>
        <!-- // end container -->

    </div>
    <!-- end wrapper -->

    <script src="{% static 'docs/js/jquery.min.js' %}"></script>
    <script src="{% static 'docs/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'docs/js/retina.js' %}"></script>
    <script src="{% static 'docs/js/jquery.fitvids.js' %}"></script>
    <script src="{% static 'docs/js/wow.js' %}"></script>
    <script src="{% static 'docs/js/jquery.prettyPhoto.js' %}"></script>

    <!-- CUSTOM PLUGINS -->
    <script src="{% static 'docs/js/custom.js' %}"></script>
    <script src="{% static 'docs/js/main.js' %}"></script>

    <script src="{% static 'docs/js/syntax-highlighter/scripts/shCore.js' %}"></script>
    <script src="{% static 'docs/js/syntax-highlighter/scripts/shBrushPython.js' %}"></script>
    <script src="{% static 'docs/js/syntax-highlighter/scripts/shBrushXml.js' %}"></script>
    <script src="{% static 'docs/js/syntax-highlighter/scripts/shBrushCss.js' %}"></script>
    <script src="{% static 'docs/js/syntax-highlighter/scripts/shBrushJScript.js' %}"></script>

</body>

</html>