                    {% for project in projects %}
                    <div class="col-md-4 pull-left appear-animation bounceIn appear-animation-visible">
                        <section class="panel drop-shadow">
                            <header class="panel-heading bg-primary">
                                <div class="panel-heading-profile-picture">
                                    <a href="{{ project.full_url }}"><img src="{{ project.thumbnail.url }}"></a>
                                </div>
                            </header>
                            <div class="panel-body text-center">
                                <h3 class="text-semibold mt-sm text-center"><a class="no-underline" href="{{ project.full_url }}">{{ project.long_name }}</a></h3>
                                <p class="text-center">{{ project.description }}</p>
                            </div>
                        </section>
                    </div>
                    {% endfor %}