                        <div class="tabs-primary">
                            <ul class="nav nav-tabs nav-justified">
                                <li class="active">
                                    <a href="#entities" data-toggle="tab"><i class="fa fa-cubes"></i> Entities <span class="label label-primary">{{ results|length }}</span></a>
                                </li>
                                <li>
                                    <a href="#notes" data-toggle="tab"><i class="fa fa-comments"></i> Notes <span class="label label-primary">{{ notes|length }}</span></a>
                                </li>
                                <li>
                                    <a href="#attachments" data-toggle="tab"><i class="fa fa-paperclip"></i> Attachments <span class="label label-primary">{{ attachments|length }}</span></a>
                                </li>
                                <li>
                                    <a href="#tagged" data-toggle="tab"><i class="fa fa-tags"></i> Tagged <span class="label label-primary">{{ tagged|length }}</span></a>
                                </li>
                            </ul>
                        </div>
						<div class="tab-content padded-top appear-animation fadeIn appear-animation-visible">
                            <div id="entities" class="tab-pane active padded-top">
                                <p class="text-muted padded-top">Showing <b>{{ results|length }}</b> search matches:</p>
								<ul class="list-unstyled search-results-list">
									{% for result in results %}
									<li class="appear-animation fadeInLeft appear-animation-visible">
										<p class="result-type">
											<span class="label label-primary">{{ result.type }}</span>
										</p>
										<a href="{{ result.full_url }}" class="has-thumb">
											<div class="result-thumb float-left">
												<img src="{{ result.thumbnail.url }}" />
											</div>
											<div class="result-data">
                                                {% if result.type != "Project" %}
                                                <p class="h3 title text-primary">{% if result.project %}{{ result.project.long_name }}: {% endif %}{% if result.parent %}{{ result.parent.long_name }} / {% endif %}{{ result.long_name }}</p>
                                                {% else %}
                                                <p class="h3 title text-primary">{{ result.long_name }}</p>
                                                {% endif %}
												<p class="description">{{ result.description }}</p>
											</div>
										</a>
									</li>
                                    {% endfor %}
								</ul>
								<hr class="solid mb-none" />
							</div>
							<div id="notes" class="tab-pane padded-top">
                                <p class="text-muted padded-top">Showing <b>{{ notes|length }}</b> search matches:</p>
								<ul class="list-unstyled search-results-list">
									{% for note in notes %}
									<li class="appear-animation fadeInLeft appear-animation-visible">
										<p class="result-type">
											<span class="label label-primary">Note</span>
										</p>
										<a href="{{ note.full_url }}" class="has-thumb">
											<div class="result-thumb float-left">
												<img src="{{ note.author.thumbnail.url }}" />
											</div>
											<div class="result-data">
                                                <p class="h3 title text-primary">{{ note.content }}</p>
												<p class="description">From {{ note.author.username }}, {{ note.created }}</p>
											</div>
										</a>
									</li>
                                    {% endfor %}
								</ul>
								<hr class="solid mb-none" />
							</div>
							<div id="attachments" class="tab-pane padded-top">
                                <p class="text-muted padded-top">Showing <b>{{ attachments|length }}</b> search matches:</p>
                                <div class="row">
                                    <div class="thumbnail-gallery">
                                        {% for attachment in attachments %}
                                        {% if attachment.is_image %}
                                        <div class="col-sm-6 col-md-4 col-lg-3 appear-animation bounceIn appear-animation-visible">
                                            <div class="thumbnail">
                                                <div class="thumb-preview">
                                                    <a class="img-thumbnail no-margins" href="{{ attachment.file.url }}">
                                                        <img width="215" src="{{ attachment.file.url }}">
                                                        <span class="zoom">
                                                            <i class="fa fa-search"></i>
                                                        </span>
                                                    </a>
                                                    <h5 class="mg-title text-semibold padded-left"><small>On</small> <a href="{{ attachment.parent.full_url }}">{{ attachment.parent.parent }}</a></h5>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <hr class="solid mb-none" />
                            </div>
                            <div id="tagged" class="tab-pane padded-top">
                                <p class="text-muted padded-top">Showing <b>{{ tagged|length }}</b> search matches:</p>
								<ul class="list-unstyled search-results-list">
									{% for result in tagged %}
									<li class="appear-animation fadeInLeft appear-animation-visible">
										<p class="result-type">
											<span class="label label-primary">{{ result.type }}</span>
										</p>
										<a href="{{ result.full_url }}" class="has-thumb">
                                            {% if result.type == "Note" %}
                                            <div class="result-thumb float-left">
												<img src="{{ result.author.thumbnail.url }}" />
											</div>
											<div class="result-data">
                                                <p class="h3 title text-primary">{{ result.content }}</p>
												<p class="description">From {{ result.author.username }}, {{ result.created }}</p>
											</div>
                                            {% else %}
											<div class="result-thumb float-left">
												<img src="{{ result.thumbnail.url }}" />
											</div>
											<div class="result-data">
                                                {% if result.type != "Project" %}
                                                <p class="h3 title text-primary">{% if result.project %}{{ result.project.long_name }}: {% endif %}{% if result.parent %}{{ result.parent.long_name }} / {% endif %}{{ result.long_name }}</p>
                                                {% else %}
                                                <p class="h3 title text-primary">{{ result.long_name }}</p>
                                                {% endif %}
												<p class="description">{{ result.description }}</p>
											</div>
                                            {% endif %}
										</a>
									</li>
                                    {% endfor %}
								</ul>
								<hr class="solid mb-none" />
							</div>
                        </div>